{% load static from staticfiles %}
<!-- jQuery -->
	<script src="{% static 'jackson/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'jackson/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'jackson/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'jackson/js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'jackson/js/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'jackson/js/owl.carousel.min.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'jackson/js/jquery.countTo.js' %}"></script>


	<!-- MAIN JS -->
	<script src="{% static 'jackson/js/main.js' %}"></script>